<link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

{% extends 'base.html' %}

{% block content %}
<span id = 'edit_class'>
<form action="/members/{{id}}" method="post">       
    <div>
        <h1>You can edit details of this member here :</h1>
        <p>
           <label for="name">Member name :</label>
           <input type="text" name="name" value="{{member.name}}" >
        </p>
        <p>
           <label for="age">Age :</label>
           <input type="number" name="age" value={{member.age}} min="0" step="1" max="99" >
        </p>
        <p><input class="button" type="submit" value="Submit"></p>
    </div>                         
</form> 

<div>
    <h1>This member is booked for:</h1>
    <ul>
    {% for session in booked_sessions %}  
        <a href="/sessions/{{ session.id }}">
        <li>{{session.name}}</li>
    </a>
    {% endfor %}
    </ul>
</div>
</span>
{% endblock %}