<link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

{% extends 'base.html' %}

{% block content %}


<form action="/members/new" method="post">       
        <div class="newForm">
            <h1>Add details of new member here :</h1>
            <p>
               <label for="name">Member name :</label>
               <input type="text" name="name" required>
            </p>
            <p>
               <label for="age">Age :</label>
               <input type="number" name="age" min="0" step="1" max="99" maxlength="2"required>
            </p>
            <p>
            <label for="premium">Type of membership:</label>
            <select name="premium">
              <option value="True">Premium</option>
              <option value="False">Standard</option>
            </select>
            
            </p><br><br>
            <p><input class="button" type="submit" value="Submit"></p>
            
            
        </div>                         
</form> 
{% endblock %}