body {
    background-color: rgb(0, 48, 73);
}
body > main > nav > ul{
    background-color:rgb(247, 127, 0);
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 2em;
    height: 4em;
}
body > main > nav > ul > li {
    display: flex;
    padding: 1em;
}

.myButton {
    background-color: rgb(214, 40, 40);
    border-radius:8px;
    cursor:pointer; 
}
.myButton:hover {
	background-color:#FCBF49;
}
.myButton:active {
	position:relative;
	top:1px;
}
#content {
    color:rgb(234, 226, 183);
}
#entry{
    background: url('/static/images/pexels-ketut-subiyanto-4720268.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8em;
    margin-right: 8em;
}