body {
    background-color: rgb(0, 48, 73);
}
body > main > nav > ul{
    background-color:rgb(247, 127, 0);
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 2em;
    height: 4em;
}
body > main > nav > ul > li {
    display: flex;
    padding: 1em;
}

.button {
    background-color: rgb(214, 40, 40);
    border-radius:8px;
    cursor:pointer; 
}
.button:hover {
	background-color:#FCBF49;
}
.button:active {
	position:relative;
	top:1px;
}
#content  {
    color: khaki;
}
#content > form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content > form > div > p > input{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-origin: padding-box;
}
#entry{
    background: url('/static/images/pexels-ketut-subiyanto-4720268.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8em;
    margin-right: 8em;
}
#sessions{
    display:flex;
    flex-wrap:wrap;
    width:80%;
    margin:auto;
    justify-content:center;
    color: rgb(0, 48, 73);
}
#sessions > a {
        display: flex;
        justify-content: center;
        margin: 1%;
        border-radius: 1em;
        width:20%;
        background:rgb(252, 191, 73);
        padding:1em;
    }
#members{

        display:flex;
        width:80%;
        margin:auto;
        flex-direction: column;
        color: rgb(0, 48, 73);
    }
#members > a {
            display: flex;
            margin: 1%;
            border-radius: 1em;
            background:rgb(252, 191, 73);
            padding:1em;
        }
#members > a > span {
        display: flex;
        width: 40%;
        justify-content: space-between;
    }
#new_class {
    display: flex;
    width: 28em;
    justify-content: space-around;
}
#new_class > p{
    display: flex;
    flex-direction: column;
}
#new_class > p > input{
    padding: 1em;
}
#edit_class{
    display: flex;
    justify-content: space-around;
}
#edit_class> form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#edit_class > form > div > p > input{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-origin: padding-box;
}
#edit_class > div > ul > a > li{
    list-style: none;
    padding: 0.5em;
    color: khaki;
}
#admin{
    display: flex;
    justify-content: space-around;
}
#admin > div{
    display:flex;
        width:80%;
        margin:auto;
        flex-direction: column;
        
}
#admin > div > a{
        display: flex;
        margin: 1%;
        border-radius: 1em;
        color: rgb(0, 48, 73);
        background:rgb(252, 191, 73);
        padding:1em;
}
