<link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

{% extends 'base.html' %}
{% block content %}
<span id="admin">
    <div>
        <h1>Past classes:</h1>
    {% for  session in past_sessions %}   
    <a href='sessions/{{session.id}}'>
    <span><b>
        <p>Class: {{session.name}}</p>
        <p><small>{{ session.description }}</small></p></b>   
    </span>
    </a>
    {%endfor%}
    </div>
    <div>
        <h1>Inactive members:</h1>
        {% for member in inactive_members %}
        <a href='members/{{member.id}}'>
            <span><b>
                <p>Member: {{member.name}}</p>
                <p><small>Age: {{ member.age }}</small></p></b>   
            </span>
        </a>

        {% endfor %}
    </div>
</span>




{% endblock %}