<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style> a { text-decoration: none; } </style>
    <title>Gym Management</title>
</head>
<body>
    <main>
    <nav>
        <ul>
            <li><button  class="button" onclick="window.location.href='/'">Home</button></li>
            <li><button  class="button" onclick="window.location.href='/members'">Our Members</button></li>
            <li><button  class="button" onclick="window.location.href='/sessions'">Upcoming Classes</button></li>
            <li><button  class="button" onclick="window.location.href='/sessions/new'">Add New Class</button></li>
            <li><button  class="button" onclick="window.location.href='/members/new'">New Member Form</button></li>
     
        </ul>
    </nav>
    <section id ="content">
        {% block content %}

        {% endblock %}
    </section>
    </main>
</body>
</html>